

.about {
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10%; /* Adjust this margin as needed */
}

.about-container {
  margin-top: -20%; /* Adjust this margin as needed */
  display: flex;
  color: wheat;
  align-items: center;
}

.img {
  margin-left: -15%; /* Adjust this margin as needed */
}

.container {
  display: flex;

  justify-content: center; /* Optional: Center the content horizontally */
}
